
#samfundstypeBgrWrap {
	position: absolute;
	top: 0px;
	/*left: -2px;*/
}

#categoryMenuWrap {
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

.menuItem {
	padding-top: 5px;
	padding-bottom: 5px;
}

.catRow{
	display: none;
	position: relative;
	top: 0px;
	padding-top: 2.5%;  /* <----- BUGFIX: Virker i Firefox */
}

.active {
	/*display: initial;*/
	display: flex;  /* IMPORTANT: This prevente the ".active" row for jumping down when the sortable is moved and up again when the sortable falls in to places. */
}

#templateWrap {
	position: relative;
	display: inline-block;
	/*width: 75%;*/
	width: 80%;
	padding-top: 60px;
}

.cardContent {
	/*height: 300px;*/
	display: inline-block;
	/*width: 29%;*/
	width: 30%; /* NEW */
    /*margin-left: 13px;
    margin-right: 13px;*/
    margin-left: 1.6%;
    margin-right: 1.6%;
    /*margin-top: 2.5%;*/  /* <----- BUGFIX: Virker IKKE i Firefox */
    padding: 10px;
    background-color: #e7e6e2;
    /*border: 1px solid #e7e6e2;*/
    border-radius: 6px;
}

.activeCategory, .inactiveCategory{
	/*margin-top: 5px;*/
	margin-bottom: 20px;
}

.activeCategory .categoryColor{
	color: #111;
	font-weight: 700;
	/*background-color: #999;*/
}


.inactiveCategory .categoryColor{
	color: #999;
	background-color: initial;
}

.categoryColor{
	/*padding: 10px;*/
	/*border-radius: 6px;*/
}

.objText h4 {
	margin-top: 10px;
	margin-bottom: 5px;
}
/*
.ui-sortable-handle {
	top: 0px;
}
*/

.score_container_wrap {
    display: inline;
}

#samfundstypeBgrWrap {
	width: 100%;
}


.samfundstypeZone {
	width: 100%;
	border-left: 1px dashed #999;
	border-right: 1px dashed #999;
	border-bottom: 1px dashed #999;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.samfundstypeBgr {
	/*border: 1px dotted #999;*/
	/*width: 31%;*/
	width: 32%;  /* NEW */
	display: inline-block;
	/*margin-left: 5px;
	margin-right: 5px;*/
	margin-left: 0.6%;
	margin-right: 0.6%;
}

.samfundstypeBgr h4 {
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #fff;
	border: 1px solid #cac9c6;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#btnWrap {
	margin-top: 30px;
	margin-left: 0.6%;
}

#checkAnswer {
	margin-bottom: 10px;
}

.miniCard, .miniCard_large {
	width: 100%;
	margin: 0px;   /* Dette gøres pga pop-up animation i template2 */
	overflow: auto;
}

.miniCardText{
	display: none;
}

.dropShadow {
	box-shadow: 0px 0px 15px #aaa;
}

/*#UserMsgBox_video {*/
#UserMsgBox {
    background-color: #FFF;
    width: 100%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*
    padding: 0px;
    overflow: hidden;
    overflow-x: auto;
 */   
}

.CloseClass {
/*
	position: absolute;
	right: 20px;
	top: 20px;
*/	
}


.MsgBox_bgr_card {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 100;
}

#UserMsgBox_card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    line-height: 1.5em;
    position: absolute;
    max-height: 70%;
    /*overflow: auto;*/
    cursor: pointer;
    max-width: 720px;
    left: 0;
    right: 0;

    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CloseClass_card {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 1000;
    font-size: 1.8em;
    color: rgba(255,255,255,0.8);
}

#startHint {
	margin-top: 20px;
	margin-bottom: 0px;
}


/*******************************************************************************   
						Table-styling
*******************************************************************************/

table, tbody, tr, td {
	position: relative;
}

table#template2_tableView{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#template2_tableView td, #template2_tableView th {
	/*border: 1px solid #ddd;*/
}

 #template2_tableView th {
 	padding-left: 15px;
 }

#template2_tableView td {
	padding: 5px 12px 5px 5px;
}

#template2_tableView th:first-child {
	padding-left: 10px; 	/* Denne rummer ordet "kategorier" - måske skal dette ord helt fjernes */
}

#template2_tableView td:first-child {
	vertical-align: top;
	font-weight: 700;
}


/*******************************************************************************
						Media queries
*******************************************************************************/

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

